.navbar-nav li a {
    line-height: 75px;
    font-size: 18px;
}

.navbar-header a {
    line-height: 75px;
    color: white;
    font-size: 28px;
}

.grid-container {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

    .grid-container > div {
        word-break: break-word;
        width: 23%;
        float: left;
        height: 150px;
        margin: 5px;
        overflow: hidden;
        
    }

    .rpt {
        width: 100%;
    }